extends layout


block navigation
	li(class="") 
		a(href="/") home	
	li(class="") 
		a(href="/burn") burn
	li(class="active")
		a(href="/vanets") vanets		



block content
	h3= title
	block vanets_block
		#vanets
		#vis_vanets
